@import "tailwindcss";


@theme {
    --animate-cursor: blink 0.8s infinite ease-in-out;

    @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 0; }
        90% { opacity: 1; }
        100% { opacity: 1; }
    }
}